<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
  
    <!-- Configuration de la connexion à la base de données -->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/event</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    
    <!-- Configuration de l'utilisation de Hibernate -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    
    
    <!-- Mapping des classes -->
    <!-- A remplacer par vos classes -->
    <mapping class="com.aigle.model.Utilisateur"/>
    <mapping class="com.aigle.model.Administrateur"/>
    <mapping class="com.aigle.model.Categorie"/>
    <mapping class="com.aigle.model.Evenement"/>
    <mapping class="com.aigle.model.Organisateur"/>
    <mapping class="com.aigle.model.Transaction"/>
    <mapping class="com.aigle.model.Reservation"/>
    
  </session-factory>
</hibernate-configuration>
